--- yaml
layout: 'default'
title: 'Kerava - Personal Trainer palvelut'
---

- var kml = "https://maps.google.fi/maps/ms?authuser=0&vps=2&ie=UTF8&msa=0&output=kml&msid=214775384445131649957.0004df46b72846698499e"
- var city = "Kerava"
- var content = "Priima-valmennus tarjoaa laadukkaita ja monipuolisia Personal Trainer palveluita yksityisille ja yrityksille. "
- content += "Kerava on Priima-valmennuksen kotipaikka. Liikuntamahdollisuudet ovat erinomaiset Keravalla, joten t채채ll채 saadaan helposti aikaiseksi monipuolinen harjoitteluohjelma. "
- content += "Katso oheisesta kartasta esimerkkej채 paikoista ja aktiviteeista. <a href='/#priima-valmennus'>Etusivullamme</a> on tarkemmin kuvattu palvelut ja toimintaperiaatteet."

- var cityContent = partial("city", { "kmlUrl": kml, "city": city, "content": content })

!= cityContent