--- yaml
layout: 'default'
title: 'Kerava - Personal Trainer palvelut'
---

- var kml = "https://maps.google.fi/maps/ms?authuser=0&vps=2&ie=UTF8&msa=0&output=kml&msid=214775384445131649957.0004df46b72846698499e"
- var city = "Kerava"
- var content = "Priima-valmennus tarjoaa laadukkaita ja monipuolisia Personal Trainer palveluita yksityisille ja yrityksille. "
- content += "Kerava on Priima-valmennuksen kotipaikka. Täällä liikuntamahdollisuudet ovat erinomaiset. "
- content += "Esimerkiksi Keinukallion ulkoilumaastot, urheilukenttä, lukuisat pururadat sekä viheralueet tarjoavat monipuoliset harjoitteluhetket. "
- content += "Oheiseen karttaan olemme lisänneet muutamia paikkoja joita olemme asiakkaiden kanssa käyttäneet harjoitteluun. "
- content += "<br><br>Kannattaa lukea <a href='/#priima-valmennus'>etusivulta</a> toimintaperiaatteemme ja kuinka voimme auttaa sinua saavuttamaan tavoitteesi!"

- var cityContent = partial("city", { "kmlUrl": kml, "city": city, "content": content })

!= cityContent