--- yaml
layout: 'default'
title: 'Helsinki - Personal Trainer palvelut'
---

!= partial("city", { "kml": "", "city": "Helsinki", "content": "Hei helsinkiläinen! Priima-valmennus tarjoaa Teille laadukkaat Personal Trainer palvelut yhteistyössä Kuntokompassin kanssa." })