--- yaml
layout: 'default'
title: 'Vantaa - Personal Trainer palvelut'
---

- var kml = ""
- var city = "Vantaa"
- var content = ""
- var cityContent = partial("city", { "kmlUrl": kml, "city": city, "content": content })

!= cityContent