--- yaml
layout: 'default'
title: 'Tuusula - Personal Trainer palvelut'
---

- var kml = "https://maps.google.fi/maps/ms?authuser=0&vps=3&ie=UTF8&msa=0&output=kml&msid=214775384445131649957.0004e84f9f0241440765c"
- var city = "Tuusula"
- var content = "Priima-valmennus tarjoaa laadukkaita ja monipuolisia Personal Trainer palveluita yksityisille ja yrityksille. "
- content += "Tuusulan upea luonto antaa erinomaiset puitteet ulkoharjoittelulle. Lisäksi kunta ja sen yritykset tarjoavat monipuoliset harjoittelutilat. Esimerkiksi viihtyisään uimahalliin saapuu jopa ulkopaikkakuntalaiset harjoittelemaan. "
- content += "Oheiseen karttaan olemme lisänneet muutamia paikkoja joita olemme asiakkaiden kanssa käyttäneet harjoitteluun. "
- content += "<br><br>Kannattaa lukea <a href='/#priima-valmennus'>etusivulta</a> toimintaperiaatteemme ja kuinka voimme auttaa sinua saavuttamaan tavoitteesi!"
- var cityContent = partial("city", { "kmlUrl": kml, "city": city, "content": content })

!= cityContent