--- yaml
layout: 'default'
title: 'Personal Trainer palvelut'
---

!= partial('tiles.html.jade', {})

section#priima-valmennus.page-content
  header
    h1 Priima-valmennus - kun haluat laittaa itsesi ykkössijalle

  article.company-information
    section
      h4 Miksi Personal Trainer?
      p
        | Olet tietoinen siitä, että olisi muutosten aika. Vaikka tietoa terveellisistä elämäntavoista tulvii useasta eri lähteestä (Internet, tv, lehdet jne.), olet silti eksynyt ja tavoitteet jäävät saavuttamatta. Näkökulmia oikeasta ravinnosta ja liikunnasta on lukuisia mikä vaikeuttaa oman luonnollisen tien löytymistä. Personal Trainer, koulutuksensa ja taustansa turvin auttaa saavuttamaan pitkäaikaista hyvinvointia.
    section
      h4 Valmennusfilosofia
      p
        | Lyhytaikaisia tuloksia saa aikaiseksi dieteillä ja ylirasittamalla kehoa, mutta pitkäaikaisiin tuloksiin tarvitaan kunnollista ravintoa ja mielekkäitä liikuntamuotoja. Liikkuminen ja ravitsemusneuvot eivät saa aiheuttaa stressiä. Me Priima-valmennuksella pyrimme siihen, että jokaisella tapaamiskerralla löytäisit itsestäsi uutta potentiaalia ja saisit uusia vastauksia kysymyksiin "Miten" ja "Miksi".
    section
      h4 Käytännössä
      p
        | Palveluistamme hyötyvät niin vasta-alkajat kuin liikunnan saralla pidemmälle ehtineet. Laajan lajituntemuksen myötä löydämme jokaiselle mielekkäät liikuntamuodot ja sopivat työkalut henkilökohtaiseen kehittymiseen. Korkeakoulu- ja kilpaurheilutausta takaavat laadukkaat, turvalliset ja tietämykseen pohjautuvat harjoitukset sekä menetelmät. Harjoituksissa kehitetään monipuolisesti fyysisen kunnon eri osa-alueita (aerobista- ja lihaskuntoa, notkeutta, tasapainoa, ketteryyttä jne.). Harjoitusympäristöinä toimivat niin sisä- kuin ulkotilat.
    section
      p Toimimme pääkaupunkiseudulla mm. seuraavissa kaupungeissa:
      ul.area-list
        li Helsinki
        li Vantaa
        li
          a(href='/yksityiset/personal-trainer-kerava.html#city-specific-content')
            | Kerava
        li
          a(href='/yksityiset/personal-trainer-tuusula.html#city-specific-content')
            | Tuusula
        li Sipoo
        li Järvenpää
        li Hyvinkää
  aside.priima-valmennus-facebook
    p.suggestion
      | Tykkää ja pysy
      br
      | ajan tasalla!
    .mini-priima-valmennus
      a(href='https://www.facebook.com/PriimaValmennus')
        button
    p.priima-valmennus-in-facebook
      | Priima-valmennus
      br
      | Facebookissa
    .facebook-like
      .fb-like(data-href='https://www.facebook.com/PriimaValmennus', data-send='true', data-layout='button_count', data-width='180', data-show-faces='true', data-font='arial')

  .cv-photo
    img(src='images/cv-photo.jpg', alt='Personal Trainer Vera Tamminen', width="256", height="415")
  .cv
    h3 Vera Tamminen, Liikuntatieteiden maisteri, Personal Trainer
    img(src='images/cv.png', alt='Vera Tamminen CV', width="850", height="348")

  .customer-feedback
    .highlight-testimonial
      p "Runsaan vuoden olemme tehneet yhteistyötä Veran kanssa ja yhteiset ryhmäliikuntatunnit ovat meillä Prismassa parantaneet työhyvinvointia sekä -tyytyväisyyttä. Palvelu on ollut mutkatonta ja tunnit ovat suunniteltu ajatellen kaupan alan työntekijöitä mm. niska-hartiajumppa. Tunneille voi osallistua kuka vaan iästä ja kunnosta riippumatta."
        span.given-by Elina L.
          span.separator &#47;&#47;
          | henkilöstöpäällikkö Prisma Kerava
    .your-opinion
      h3 Mielipiteesi on meille tärkeä
      .give-feedback
      p
        | Haluamme kuulla palautteesi, jotta voimme kehittää toimintaamme entistä paremmaksi. Tämä onnistuu helposti palautelomakkeen kautta.
        br
      a(href='#contact') Anna palautetta »
  .customer-satisfaction-first
    h3 Asiakastyytyväisyys ensin
    ul.testimonials
      li
        p
          | "Oma-aloitteinen harjoitteluni kävi yksipuoliseksi eikä muutoksia tapahtunut. Aloitettuamme Veran kanssa yhteistyön tuloksia alkoi näkyä: lihasmassa kasvoi, rasva paloi ja ylimääräiset nesteet hävisivät. Ilman ohjausta ja tukea en olisi päässyt kehityksessäni näin huimasti eteenpäin."
          span.given-by
            | Maria J.
            span.separator &#47;&#47;
            | nuorisotyöntekijä
      li
        p
          | "Yhteistyö Veran kanssa ylitti kaikki odotukset.
          | Vaikka olen aikaisemminkin liikkunut aktiivisesti, niin treenien
          | monipuolisuus tuli silti yllätyksenä. Koen että neljä kuukautta kestäneen
          | treenijakson jälkeen minulla on eväät huomattavasti tasapainoisempaan ja
          | kokonaisvaltaisempaan harjoitteluun. Ainut asia mikä jäi harmittamaan on se, että
          | en palkannut häntä jo aikaisemmin."
          span.given-by Mikko S.
            span.separator &#47;&#47;
            | ohjelmistosuunnittelija
section#services-for-individuals.page-content
  header
    h2 Palvelut yksityisille
  p
    | Me Priima-valmennuksella uskomme tapaamiskertojen määrän vaikuttavan voimakkaasti tuloksiin. Pakettien lisäksi tarjoamme lajiopetusta. Mikäli olet kiinnostunut vain uinti-, juoksu tai kahvakuulaharjoituksista, ota myös siinä tapauksessa rohkeasti yhteyttä.
  .package
    h4 Oivallus
    ul
      li kun et ole varma mistä aloittaisit
      li yksin tai parin kanssa
      li 25 tapaamiskertaa 4 kk aikana
    button.read-more(target='oivallus-info', package-name='Oivallus')
  .package
    h4 Priima-paketti
    ul
      li runsasta tukea kaipaavalle
      li täydellinen elämäntaparemontti
      li 56 tapaamiskertaa 6 kk aikana
    button.read-more(target='priima-paketti-info', package-name='Priima-paketti')

  .more-information-about-package
    #oivallus-info.infobox.hidden.arrow.left
      button.close-button
      p
        | Haluaisitko aloittaa kuntoilun, mutta et tiedä miten lähtisit liikkeelle? Oletko kuntoillut jo jonkin aikaa, mutta et tunne kehittyväsi? Olisitko kiinnostunut laajentamaan ruokavaliotasi terveellisillä ja maukkailla vaihtoehdoilla? Oletko kyllästynyt mitä ihmeellisimpiin dieetteihin, joissa joko ei syödä yhtään tai syödään yksipuolisesti?<br/><br/>
        | Mikäli nyökyttelit kysymyksiä lukiessasi, niin tässä on paketti sinulle. <br><br>
        | Pakettiin sisältyy:

      ul
        li 25 tapaamista
        li alkumittaus (InBody-mittaus, katsotaan lihaskuntosi, liikkuvuus- ja tasapaino, aerobinen kunto)
        li saat aktiivisuusmittarin käyttöösi
        li välimittaus
        li 3 kpl henkilökohtaisia liikuntasuunnitelmia
        li 3 kpl henkilökohtaisia lihaskuntosuunnitelmia
        li ravintovalmennus (ruokapäiväkirjan perusteella)
        li loppumittaus
        li sinua koskeva materiaali joko sähköisesti tai paperimuodossa

      p
        | Tapaamme neljän kuukauden aikana 25 kertaa ja paketin päätyttyä sinulla ei ole enää treeni- tai ruokavaliohuolia.

      a(href="/#message") Varaa aika ilmaiseen ensitapaamiseen!

    #priima-paketti-info.infobox.hidden.arrow.center
      button.close-button
      p
        | Kaipaatko täydellistä elämäntaparemonttia? Haluaisitko päästä eroon vanhoista heikkouksistasi ruoan ja liikunnan suhteen? Tarvitsetko siihen hyvin intensiivistä tukea?
        | Tarjoan sinulle 3 tapaamiskertaa viikossa neljän ensimmäisen kuukauden aikana. Tämän jälkeen kerran viikossa kahden kuukauden ajan.
        | Pakettiin sisältyy

      ul
        li 56 tapaamista
        li alkumittaus (InBody-mittaus, katsotaan lihaskuntosi, liikkuvuus- ja tasapaino, aerobinen kunto)
        li saat aktiivisuusmittarin käyttöösi
        li välimittaus
        li 6 kpl henkilökohtaisia liikuntasuunnitelmia
        li 6 kpl henkilökohtaisia lihaskuntosuunnitelmia
        li ravintovalmennus (ruokapäiväkirjan perusteella)
        li loppumittaus
        li sinua koskeva materiaali joko sähköisesti tai paperimuodossa

      p 
        | Luota itseesi, luota valmentajaasi, niin yhdessä onnistumme!

      a(href="/#message") Varaa aika ilmaiseen ensitapaamiseen!

  img.process(src='images/process.png', alt='Kuinka toimimme', width=981, height=779)
section#contact.page-content
  header
    h2 Yhteystiedot

  .contact-information
    .name-and-title
      h2
        | Vera Tamminen
        br
        span LitM, Personal Trainer
    .addresses
      p.contact
        span Y-tunnus 2376299-9
        br
        span Puh:
        a(href='tel:+358443714401') 044 3714401
        br
        span
          | S-posti:
          a.crypted-email(href='mailto:iren@cevvzninyzraahf.sv')

  .in-social-media
    h2.in-social-media-title
      | Priima-valmennus
      br
      span sosiaalisessa mediassa
    nav.social-media-links
      ul
        li
          a(href='https://www.facebook.com/PriimaValmennus')
            .facebook
        li
          a(href='http://priimavalmennus.blogspot.fi')
            .blogger

  .compose-message#message
    h4
      | Jätä yhteydenottopyyntö tai anna palautetta
      br
      span.reminder Täytäthän kaikki kohdat
    form.contact-form(enctype='multipart/form-data', method='post', action='https://tx3.wufoo.com/forms/z7x3p9/#public')
      .customer-contact-information
        label.name
          | Etunimi:
          input.required(type='text', name='Field214')
        label.name
          | Sukunimi:
          input.required(type='text', name='Field215')
        label
          | Puhelinnumero:
          input.required(type='text', name='Field108')
        label
          | Sähköposti:
          input.required.email(type='email', name='Field2')
      .message
        label
          | Sana vapaa:
          textarea.required(rows='7', cols='80', maxlength='9999', name='Field1')
      .submit
        input(type='submit', value='')
      input#idstamp(type='hidden', name='idstamp', value='qCYXsng3/A9ZU8BMIi/cq8i2QHmNhow5pvzctMNEfv8=')
