$assetsPath: '/images/';

/* custom colors */
$pmDarkGray: #292929;
$pmMediumGray: #434343;
$pmMediumGray2: #5D5D5D;
$pmMediumGray3: #919191;
$pmGray: #EBEBEB;
$pmBlue: #0E1B4F;

$pmPink: #DF5590;

$pmLightRed: #D889A8;
$pmLightBlue: #b9e4ed;

$pmWhite: #ffffff;

$pmRed: #EA5200;

$bodyBackground: $pmGray;
$bodyBackgroundImage: url(#{$assetsPath}bg.jpg) $pmGray repeat 0 0;

/* navigation */
$navbarBackground: $pmGray;
$navbarHeight: 115px;
$mainNavigationTextColor: #555;

/* divider */
$distanceFromDivider: 25px;
$dividerStyle: 1px solid $pmMediumGray;

/* infobox */
$distanceFromEdgeOfInfobox: 35px;

$errorColor: $pmRed;

/* typography */
$baseFontFamily: "MetaProBook", Arial, sans-serif;
$textColor: $pmMediumGray;
$headingsFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$smallerHeadingsFontFamily: "MetaProMedium", Helvetica, Arial, sans-serif;
$socialMediaUpdatesTitleFontFamily: Arial, sans-serif;
$socialMediaUpdatesTitleFontSize: 25px;
$socialMediaUpdateTitleFontSize: 11px;
$socialMediaUpdateFontSize: 14px;

$infoboxPadding: 15px;

/* testimonials */
$testimonialGivenByColor: $pmMediumGray3;