.brand {
	margin-top: 1em;

	img {
		width: auto;
		height: auto;
	}
}

nav.main {
	padding-bottom: 14px;

	ul {
		@include horizontal-list;
		@extend .clearfix;
		float: right;

		li {
			a {
				padding-top: 73px;
				text-shadow: none;
			}

			&.active, &.active:hover {
				a {
					background-color: $pmDarkGray;
					color: $pmGray;
				}
			}
		}
	}
}

nav.main ul li a {
	float: left;
	display: block;
	text-decoration: none;
	color: $mainNavigationTextColor;
	padding: 73px 15px 11px 15px;
}