.foreword {
	@include columns(12);
}

.package {
	@include columns(4);
}

.more-infomation-about-package {
	@include columns(12);
	height: 200px;
}

.process {
	@include columns(12);
	text-align: center;
	margin-bottom: $distanceFromDivider;
}