$marginBetweenTiles: 4px;

.social-media-updates {
	@extend .infobox;
	@include border-box();
	min-height: 211px;
	margin-top: 0;
	font-family: $socialMediaUpdatesTitleFontFamily;
	padding: 1em 1em 0.8 1em;

	h3 {
		@include adjust-font-size-to($socialMediaUpdatesTitleFontSize);
		@include margin-trailer(0);
		margin-top: 0px;
	}

	ul {
		@include no-bullets();
		margin: 0;
		padding: 0;

		> li {
			margin-bottom: 20px;
		}
	}

	h4.update-title {
		margin: 0;
	}

	a {
		@include adjust-font-size-to($socialMediaUpdateFontSize);
		color: $pmMediumGray2;

		&:hover {
			color: lighten($pmMediumGray2, 20%);
		}
	}
}

.main-page-tiles {
	a {
		display: block;
		line-height: 0; // removes extra space from the image
	}
}

.main-promotion {
	@include span-columns(12);
}

.package-promotion {
	img {
		max-width: 364px;
		max-height: 141px;
	}
}

.package-promotion-for-companies {
	@extend .infobox;
	@include border-box();
	@include span-columns(5);
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	margin-top: 0;

	img {
		max-width: 230px;
		max-height: 235px;
	}
}

.learn-swimming-technique {
	@include span-columns(7 omega);

	img {
		max-width: 441px;
		max-height: 291px;
	}
}

.main-promotion, .package-promotion, .training-session {
	margin-bottom: $marginBetweenTiles;
}