@import "compass/css3";

@mixin transparent($color, $alpha) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background-color: transparent;
	background-color: $rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
	zoom: 1;
}

@mixin border-box()
{
	@include box-sizing(border-box);
}

@mixin clearfix() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin grid-settings(
	$cols: $total-columns,
	$width: $column-width,
	$gutter: $gutter-width,
	$padding: $grid-padding
) {
	// keep the defaults around
	$default-cols: $total-columns;
	$default-width: $column-width;
	$default-gutter: $gutter-width;
	$default-padding: $grid-padding;

	// use the new settings
	$total-columns: $cols;
	$column-width: $width;
	$gutter-width: $gutter;
	$grid-padding: $padding;

	// apply to contents
	@content;

	// re-instate the defaults
	$total-columns: $default-cols;
	$column-width: $default-width;
	$gutter-width: $default-gutter;
	$grid-padding: $default-padding;
}