$marginBetweenItems: 19px;
$highlightTestimonialPadding: 50px;

.area-list
{
	@include horizontal-list;
	margin-bottom: 2em;

	> li {
		@include adjust-font-size-to($base-font-size + 2);
	}
}

.give-feedback {
	@extend .icons-letter;
	@include inline-block();
	position: relative;
	margin-right: 39px;
}

.priima-valmennus-facebook {
	@extend .infobox;
	@include box-sizing(border-box);

	padding-top: $marginBetweenItems;
	padding-bottom: $marginBetweenItems;
  	text-align: center;

  	button {
		border: 0;
		padding: 0;
  	}

	.suggestion {
		text-align: center;
		color: $pmPink;
		border-bottom: 1px solid $pmWhite;
	}

	.mini-priima-valmennus {
		border-top: 1px solid $pmGray;

		button {
			@extend .icons-priima-valmennus-mini;
			border: 1px solid $pmGray;
			margin-top: $marginBetweenItems;
			margin-bottom: $marginBetweenItems;
		}
	}

	.priima-valmennus-in-facebook {
		color: $pmBlue;
		margin-bottom: $marginBetweenItems;
	}

	.facebook-like {
		button {
			@extend .icons-facebook-like;
		}
	}
}

.cv {
	@extend .info-area-wrapper;
	@include border-box();
	padding: 0;
	padding-left: 1em;
}

.given-by {
	&:before {
		content: "- ";
	}

	display: block;
}

.customer-feedback {
	margin-top: $distanceFromDivider;

	.given-by {
		color: $testimonialGivenByColor;
	}

	span.separator {
		display: inline-block;
		letter-spacing: -3px;
		margin-right: 3px;
	}

	.highlight-testimonial {
		@include box-sizing(border-box);
		// TODO: add white shadow under
		border-top: 1px solid $pmMediumGray;
		border-bottom: 1px solid $pmMediumGray;
		padding-top: $highlightTestimonialPadding;
		padding-bottom: $highlightTestimonialPadding;
		// TODO: global font-size declaration
		@include adjust-font-size-to(22px);
		font-style: italic;
	}

	h3 {
		//@include adjust-font-size-to($sectionHeaderFontSize * 0.8);
	}

	.give-feedback-wrapper {
		position: relative;

		p {
			@include inline-block();
		}
	}
}

.customer-satisfaction-first {
	@include box-sizing(border-box);
	padding-left: $distanceFromEdgeOfInfobox;

	h3 {
		background-color: $pmWhite;
	}

	ul {
		@include no-bullets();
		background-color: $pmGray;
		font-style: italic;
		margin: 0;
	}

	li {
	}

	span {
		color: $pmPink;
	}
}

.your-opinion {
	margin-top: 70px;
}

/*
$marginBetweenItems: 19px;
$highlightTestimonialPadding: 50px;

.company-information {
	float: left;
	display: inline-block;
	width: 75%;
	text-align: justify;
	margin-bottom: $distanceFromDivider * 2;
}

.area-list
{
	@include horizontal-list();

	> li {
		font-size: 110%;
	}
}

.priima-valmennus-facebook {
	@extend .infobox;
	@include box-sizing(border-box);
	margin-top: 90px;
	float: right;
	display: inline-block;
	width: 209px;
	height: 315px;
	padding-top: $marginBetweenItems;
	padding-bottom: $marginBetweenItems;
  	text-align: center;

  	button {
		border: 0;
		padding: 0;
  	}

	.suggestion {
		text-align: center;
		color: $pmPink;
		border-bottom: 1px solid $pmWhite;
	}

	.mini-priima-valmennus {
		border-top: 1px solid $pmGray;

		button {
			@extend .icons-priima-valmennus-mini;
			border: 1px solid $pmGray;
			margin-top: $marginBetweenItems;
			margin-bottom: $marginBetweenItems;
		}
	}

	.priima-valmennus-in-facebook {
		color: $pmBlue;
		margin-bottom: $marginBetweenItems;
	}

	.facebook-like {
		button {
			@extend .icons-facebook-like;
		}
	}
}

.cv-wrapper {
	float: left;
	width: 100%;

	.cv-photo {
		float: left;
		width: 23%;
	}

	.title-content-wrapper {
		float: right;
		padding: 0;
		width: 76.111%;
	}

	.title-wrapper {
		padding-left: 10px;
	}

	h3 {
		font-family: $headingsFontFamily;
		text-transform: uppercase;
		color: $pmPink;
		line-height: 1;
		font-size: 27px;
	}
}

.title-content-wrapper {
	@extend .info-area-wrapper;
}

.give-feedback {
	@extend .icons-letter;
	@include inline-block();
	position: relative;
	margin-right: 39px;
}

.customer-feedback {
	float: left;
	margin-top: $distanceFromDivider;

	.given-by {
		&:before {
			content: "- ";
		}

		display: block;
		color: $testimonialGivenByColor;
		margin-top: 20px;
	}

	span.separator {
		display: inline-block;
		letter-spacing: -3px;
		margin-right: 3px;
	}

	.highlight-testimonial-and-leave-feedback-wrapper {
		width: percentage(518px / $gridRowWidth);
		margin-right: percentage(44px / $gridRowWidth);
		float: left;
	}

	.highlight-testimonial {
		@include box-sizing(border-box);
		// TODO: add white shadow under
		border-top: 1px solid $pmMediumGray;
		border-bottom: 1px solid $pmMediumGray;
		padding-top: $highlightTestimonialPadding;
		padding-bottom: $highlightTestimonialPadding;
		font-size: 22px;
		font-style: italic;
	}

	.customer-satisfaction-first {
		width: percentage(554px / $gridRowWidth);
		float: right;

		div {
			padding-left: $distanceFromEdgeOfInfobox;
		}

		.testimonial-header {
			background-color: $pmWhite;
			padding-top: 25px;
			padding-bottom: 22px;
		}

		.testimonials {
			background-color: $pmGray;
			padding-top: 38px;
			padding-bottom: 38px;
			padding-right: 38px;
			font-style: italic;
		}

		ul {
			@include no-bullets();
			margin: 0;
		}

		li {
			margin-bottom: 40px;
		}

		span {
			color: $pmPink;
		}

		p {
			line-height: 1.4;
		}
	}

	.your-opinion {
		margin-top: 70px;
	}

	h3 {
		font-family: $headingsFontFamily;
		text-transform: uppercase;
		color: $pmPink;
		font-size: $h1HeaderFontSize * 0.8;
	}

	.give-feedback-wrapper {
		margin-top: 50px;
		position: relative;

		p {
			width: 62%;
			@include inline-block();
		}
	}
}*/