// responsive navigation
/* tablets and desktop */
@media only screen and (min-width: 765px) {
	header.site {
		> div {
			height: $navbarHeight;
		}
	}

	nav.main ul li {
		width: auto;

		a {
			padding-top: 73px;
			float: right;
			@include adjust-font-size-to($base-font-size);
		}
	}
}

/* phones */
@media only screen and (max-width: 764px) {
	header.site {
		> div {
			height: $navbarHeight + 30px;
		}
	}

	nav.main ul li
	{
		width: 100%;

		a {
			padding: 0.5em;
			float: right;
			line-height: 1;
		}
	}
}

@include at-breakpoint($mobile){
	// header
	.brand {
		@include span-columns(2, 12);
	}

	nav.main {
		@include span-columns(10 omega, 12);
	}

	// main-page
	.wrapper-first-half {
		@include span-columns(12, 12);
	}

	.wrapper-second-half {
		@include span-columns(12, 12);
		@include remove-omega;
	}

	// priima-valmennus
	.company-information {
		@include span-columns(12, 12);
	}

	.priima-valmennus-facebook {
		@include span-columns(12, 12);
		@include remove-omega;
	}

	.cv-photo {
		@include span-columns(0, 12);
	}

	.cv {
		@include span-columns(12, 12);
		@include remove-omega;
	}

	.customer-feedback {
		@include span-columns(12, 12);
	}

	.customer-satisfaction-first {
		@include span-columns(12, 12);
		@include remove-omega;
	}

	// packages for individuals
	.package {
		@include span-columns(12, 12);
	}

	.last-package {
		@extend .package;
		@include remove-omega;
	}

	// contact
	.social-media-links {
		margin-top: 0;
		margin-bottom: 2em;

		ul {
			li {
				@include span-columns(6, 6);
				&.last-child {
					@include remove-omega;
				}
			}
		}
	}

	.name-and-title, .addresses, .social-media-links, .in-social-media-title {
		@include span-columns(12, 12);
	}

	.addresses, .social-media-links {
		@include remove-omega;
	}

	.contact-form {
		.customer-contact-information
		{
			@include span-columns(12, 12);
		}

		.message {
			@include span-columns(12, 12);
		}

		.submit {
			@include span-columns(12, 12);
			@include remove-omega;
			height: 60px;
		}
	}

	.customer-satisfaction-first {
		@include span-columns(12, 12);
		@include remove-omega;
	}

	.customer-feedback {
		@include span-columns(12, 12);
	}

	.highlight-testimonial-and-leave-feedback-wrapper {
		@include span-columns(12, 12);
	}
}

// tablet
@include at-breakpoint($tablet) {
	// header


	.brand {
		@include span-columns(2, 12);
	}

	nav.main {
		@include span-columns(10 omega, 12);
	}

	// main-page
	.wrapper-first-half {
		@include span-columns(8,12);
	}

	.wrapper-second-half {
		@include span-columns(4 omega, 12);
	}

	.social-media-updates {
		> h3 {
			@include adjust-font-size-to($socialMediaUpdatesTitleFontSize * 0.8);
		}
	}

	// priima-valmennus
	.company-information {
		@include span-columns(9, 12);
	}

    .priima-valmennus-facebook {
    	@include span-columns(3 omega, 12);
	}

	.cv-photo {
		@include span-columns(3, 12);
	}

	.cv {
		@include span-columns(9 omega, 12);
	}

	.customer-feedback {
		clear: left;
		@include span-columns(6, 12);
	}

	.customer-satisfaction-first {
		@include span-columns(6 omega, 12);
	}

	// packages for individuals
	.package {
		@include span-columns(4, 12);
	}

	.last-package {
		@extend .package;
		@include omega;
	}

	// contact
	.in-social-media, .contact-information, .compose-message {
		@include span-columns(12, 12);
	}

	.social-media-links {
		margin-top: 3.63816em;

		ul {
			li {
				@include span-columns(3, 6);
				&.last-child {
					@include omega;
				}
			}
		}
	}

	.name-and-title, .addresses, .social-media-links, .in-social-media-title {
		@include span-columns(6, 12);
	}

	.addresses, .social-media-links {
		@include omega;
	}

	.contact-form {
		.customer-contact-information
		{
			@include span-columns(4, 12);
		}

		.message {
			@include span-columns(5, 12);
			@include suffix(1);
		}

		.submit {
			@include span-columns(2 omega, 12);
		}
	}
}

// Desktop
@include at-breakpoint($desktop) {
	// header
	.brand {
		@include span-columns(2, 12);
	}

	nav.main {
		@include span-columns(10 omega, 12);
	}

	// main-page
	.wrapper-first-half {
		@include span-columns(8,12);
	}

	.wrapper-second-half {
		@include span-columns(4 omega, 12);
	}

	.social-media-links {
		margin-top: 3.63816em;

		> h3 {
			@include adjust-font-size-to($socialMediaUpdatesTitleFontSize);
			@include margin-trailer(0);
		}
	}

	// priima-valmennus
	.company-information {
		@include span-columns(8, 12);
		@include suffix(1);
	}

    .priima-valmennus-facebook {
    	@include span-columns(3 omega, 12);
	}

	.cv-photo {
		@include span-columns(3, 12);
	}

	.cv {
		@include span-columns(9 omega, 12);
	}

	.customer-feedback {
		clear: left;
		@include span-columns(6, 12);
	}

	.customer-satisfaction-first {
		@include span-columns(6 omega, 12);
	}

	// packages for individuals
	.package {
		@include span-columns(4, 12);
	}

	.last-package {
		@extend .package;
		@include omega;
	}

	// contact
	.in-social-media, .contact-information, .compose-message {
		@include span-columns(12, 12);
	}

	.social-media-links ul {
		li {
			@include span-columns(2, 6);
			&.last-child {
				@include omega;
				@include post(2);
			}
		}
	}

	.name-and-title, .addresses, .social-media-links, .in-social-media-title {
		@include span-columns(6, 12);
	}

	.addresses, .social-media-links {
		@include omega;
	}

	.contact-form {
		.customer-contact-information
		{
			@include span-columns(4, 12);
		}

		.message {
			@include span-columns(5, 12);
			@include suffix(1);
		}

		.submit {
			@include span-columns(2 omega, 12);
		}
	}
}