$spaceBetweenSelectors: 13px;

.flexslider {
	margin: 0 !important;
	border: 0 !important;

	> .controls {
		position: absolute;
		z-index: 1;
		top: 17px;
		right: 5px;
		padding-right: 24px;

		ul {
			@include horizontal-list();

			li {
				@extend .icons-non-current-picture;
				margin-right: $spaceBetweenSelectors;
				cursor: pointer;
			}

			li.flex-active {
				@extend .icons-current-picture;
				margin-right: $spaceBetweenSelectors;
				cursor: pointer;
			}
		}
	}
}

#main-page-slider {
	@include box-shadow(none);
}