$h1HeaderFontSize: 38px;
$h1ContentFontSize: 30px;
$h2FontSize: 28px;
$h3FontSize: 24px;

body {
	font-family: $baseFontFamily;
	line-height: 1.4;
}

section > header > h2 {
	font-size: $h1HeaderFontSize;
	font-family: $headingsFontFamily;
	color: $pmLightBlue;
	word-spacing: -3px;
}

h1 {
	text-transform: uppercase;
	color: $pmPink;
	font-size: $h1ContentFontSize;
	line-height: 1;
}

h2 {
	font-size: $h2FontSize;
	font-family: $headingsFontFamily;
	color: $pmPink;
}

h3 {
	font-size: $h3FontSize;
	color: $pmMediumGray;
	font-family: $smallerHeadingsFontFamily;
}

a {
	font-family: $smallerHeadingsFontFamily;
}