$sectionHeaderFontSize: 38px;
$h2ContentFontSize: 28px;
$h3FontSize: 28px;
$h4FontSize: 24px;

section > header > h1 {
	@include adjust-font-size-to($sectionHeaderFontSize - 2px);
}

section > header > h2 {
	@include adjust-font-size-to($sectionHeaderFontSize);
}

section > header > h2, section > header > h1 {
	font-family: $headingsFontFamily;
	color: $pmLightBlue;
	text-transform: uppercase;
	font-weight: 200;
}

h2 {
	@include adjust-font-size-to($h2ContentFontSize);
	font-family: $headingsFontFamily;
	color: $pmPink;
	font-weight: 200;
}

h3 {
	@include adjust-font-size-to($h3FontSize);
	font-family: $headingsFontFamily;
	color: $pmPink;
	text-transform: uppercase;
	font-weight: 200;
}

h4 {
	@include adjust-font-size-to($h4FontSize,1.2);
	font-family: $smallerHeadingsFontFamily;
	color: $pmMediumGray;
	font-weight: 400;
}

h4.update-title {
	@include adjust-font-size-to($socialMediaUpdateTitleFontSize);
	color: $pmPink;
	text-transform: uppercase;
}

a {
	color: lighten($pmMediumGray2, 20%);
	text-decoration: none;
	font-family: $smallerHeadingsFontFamily;
}