@font-face {
  	font-family: 'Helvetica Neue';
  	src: url('/fonts/otf/HelveticaNeueLTStd-Th.otf?') format('eot'), url('/fonts/woff/HelveticaNeueLTStd-Th.woff') format('woff'), url('/fonts/ttf/HelveticaNeueLTStd-Th.ttf') format('truetype');
}

@font-face {
	font-family: 'MetaProBook';
	src: url('/fonts/otf/MetaPro-BookItalic.otf?') format('eot'), url('/fonts/woff/MetaPro-BookItalic.woff') format('woff'), url('/fonts/ttf/MetaPro-BookItalic.ttf') format('truetype');
	font-style: italic, oblique;
}

@font-face {
  	font-family: 'MetaProBook';
  	src: url('/fonts/otf/MetaPro-Book.otf?') format('eot'), url('/fonts/woff/MetaPro-Book.woff') format('woff'), url('/fonts/ttf/MetaPro-Book.ttf') format('truetype');
  	font-style: normal;
}

@font-face {
  	font-family: 'MetaProMedium';
  	src: url('/fonts/otf/MetaPro-Medium.otf?') format('eot'), url('/fonts/woff/MetaPro-Medium.woff') format('woff'), url('/fonts/ttf/MetaPro-Medium.ttf') format('truetype');
}

$total-columns  : 12;             // a 12-column grid
$column-width   : 5em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

//@import "compass_twitter_bootstrap";
@import "normalize";
@import "compass";
@import "custom_variables";
@import "compass/utilities";
@import "susy";
@import "spinner";

$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

@include establish-baseline;

body {
	background: $bodyBackgroundImage;
}

img {
	width: 100%;
}

#page {
	@include container;
	@include susy-grid-background;
}

.main-content {
	padding-top: $navbarHeight;
}

header.site {
	@include span-columns(12);
	position: fixed;
	top: 0;
	height: $navbarHeight;
	z-index: 10;
}

a.brand {
	@include span-columns(3);
	margin-top: 1em;

	img {
		width: auto;
		height: auto;
	}
}

nav.main {
	@include span-columns(9);
	@include omega;
	margin-top: 13px;

	ul {
	}
}

section.page-content {
	@include span-columns(12);
	padding-bottom: $distanceFromDivider;
	padding-top: $distanceFromDivider;
	border-bottom: $dividerStyle;
}

.wrapper-first-half {
	@include span-columns(8);
}

.wrapper-second-half {
	@include span-columns(4);
	@include omega;
}

.main-promotion {
	@include span-columns(12);
}

.package-promotion-for-companies {
	@include span-columns(5);
}

.learn-swimming-technique {
	@include span-columns(7);
	@include omega;
}

.hidden {
	display: none;
}

.error {
	color: $errorColor;
}

.price {
	color: $pmPink;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
textarea {
	@include border-radius(15px);
}