@font-face {
  	font-family: 'Helvetica Neue';
  	src: url('/fonts/otf/HelveticaNeueLTStd-Th.otf?') format('eot'), url('/fonts/woff/HelveticaNeueLTStd-Th.woff') format('woff'), url('/fonts/ttf/HelveticaNeueLTStd-Th.ttf') format('truetype');
}

@font-face {
	font-family: 'MetaProBook';
	src: url('/fonts/otf/MetaPro-BookItalic.otf?') format('eot'), url('/fonts/woff/MetaPro-BookItalic.woff') format('woff'), url('/fonts/ttf/MetaPro-BookItalic.ttf') format('truetype');
	font-style: italic, oblique;
}

@font-face {
  	font-family: 'MetaProBook';
  	src: url('/fonts/otf/MetaPro-Book.otf?') format('eot'), url('/fonts/woff/MetaPro-Book.woff') format('woff'), url('/fonts/ttf/MetaPro-Book.ttf') format('truetype');
  	font-style: normal;
}

@font-face {
  	font-family: 'MetaProMedium';
  	src: url('/fonts/otf/MetaPro-Medium.otf?') format('eot'), url('/fonts/woff/MetaPro-Medium.woff') format('woff'), url('/fonts/ttf/MetaPro-Medium.ttf') format('truetype');
}

// main container
$total-columns  : 12;             // a 12-column grid
$column-width   : 5em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$show-grid-backgrounds: true;
$tablet: 4;
$desktop: 12;
$mobile: 2;

@import "normalize";
@import "compass";
@import "custom_variables";
@import "compass/utilities";
@import "susy";
@import "typography";

@import "spinner";
@import "infobox";

@import "mainpage";
@import "header";
@import "priimavalmennus";
@import "individuals";
@import "contact";

@import "responsive";

$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

$base-font-size: 16px;
$base-line-height: 6px;

@include establish-baseline;

body {
	font-family: $baseFontFamily;
	background: $bodyBackgroundImage;
	@include adjust-leading-to(4);
}

p {
	color: $textColor;
}

img {
	width: 100%;
}

#page {
	@include container($total-columns, 12);
	//@include susy-grid-background;
}

.main-content {
	padding-top: $navbarHeight;
}

.site-background {
	background: url(/images/bg.jpg) repeat 0 0;
}

header.site {
	@extend .site-background;
	position: fixed;
	top: 0;
	left: 0%;
	right: 0%;
	height: $navbarHeight;
	z-index: 1000;

	> div {
		@include container;
		@extend .site-background;
		border-bottom: $dividerStyle;
	}
}

@include grid-settings(12, 80px, 4px, 4px) {
	.main-page-tiles {
		@include container();
		@include susy-grid-background;
	}

	.wrapper-first-half {
		margin-right: 4px;
	}

	.wrapper-second-half {
		float: left;
	}
}

.brand {
	margin-top: 1em;

	img {
		width: auto;
		height: auto;
	}
}

section.page-content {
	@include span-columns(12);
	padding-bottom: $distanceFromDivider;
	padding-top: $distanceFromDivider;
	border-bottom: $dividerStyle;

	> header {
		background-color: $pmDarkGray;
		margin-bottom: 44px;

		> h1, > h2 {
			margin-left: 2%;
			margin-right: 2%;
		}
	}
}

.hidden {
	display: none;
}

.error {
	color: $errorColor;
}

.price {
	color: $pmPink;
}

.read-more {
	@extend .icons-read-more;
	border: 0;
}