section#main-page.page-content
  div.main-page-tiles
    .wrapper-first-half
      .main-promotion
        #main-page-slider.flexslider
          ul.slides
            li
              a(href='#priima-valmennus')
                img(src='/images/main-page-spinner-1.jpg', alt='Hei, olet juuri ottanut ensiaskeleen kohti parempaa arkea.', width=748, height=340)
            li
              a(href='#priima-valmennus')
                img(src='/images/main-page-spinner-2.jpg', alt='Olen tuleva valmentajasi, tutustu minuun paremmin', width=748, height=340)
            li
              a(href='#priima-valmennus')
                img(src='/images/main-page-spinner-3.jpg', alt='Askel askeleelta, yhdessä tavoitteeseen', width=748, height=340)
          .controls
            ul
              li
              li
              li
      .package-promotion-for-companies
        a(href='#services-for-companies')
          img(src='/images/for-companies.png', alt='Palvelut yrityksille', width=230, height=235)
      .learn-swimming-technique
        a(href='#services-for-individuals')
          img(src='/images/swimming-technique.jpg', alt='Opettele oikea uintitekniikka. Uimaopetus meneillään.', width=441, height=291)
    .wrapper-second-half
      .package-promotion
        a(href='#services-for-individuals')
          img(src='/images/packages-for-individuals.png', alt='Aloita kuntoilu helposti valmiilla treenipaketilla.', width=364, height=141)
      .training-session
        a(href='#priima-valmennus')
          img(src='/images/training-session.jpg', alt='Personal Trainer opastamassa asiakasta', width=364, height=249)
      .social-media-updates
        h3 Sosiaalisessa mediassa
        ul.updates