$marginBetweenItems: 19px;
$highlightTestimonialPadding: 50px;

.area-list
{
	color: $pmPink;

	@include horizontal-list;
	margin-bottom: 2em;

	> li {
		a {
			text-decoration: underline;
			color: $pmPink;
		}

		@include adjust-font-size-to($base-font-size + 2);
	}
}

.give-feedback {
	@extend .icons-letter;
	@include span-columns(2, 6);
}

.feedback-instructions {
	@include span-columns(4, 6);
	@include omega;
}

.priima-valmennus-facebook {
	@extend .infobox;
	@include box-sizing(border-box);
	margin-top: 10%;

	padding-top: $marginBetweenItems;
	padding-bottom: $marginBetweenItems;
  	text-align: center;

	p {
		width: 100%;
	}

  	button {
		border: 0;
		padding: 0;
  	}

	.suggestion {
		text-align: center;
		color: $pmPink;
		border-bottom: 1px solid $pmWhite;
	}

	.mini-priima-valmennus {
		border-top: 1px solid $pmGray;

		button {
			@extend .icons-priima-valmennus-mini;
			border: 1px solid $pmGray;
			margin-top: $marginBetweenItems;
			margin-bottom: $marginBetweenItems;
		}
	}

	.priima-valmennus-in-facebook {
		color: $pmBlue;
		margin-bottom: $marginBetweenItems;
	}

	.facebook-like {
		button {
			@extend .icons-facebook-like;
		}
	}
}

.cv {
	@extend .info-area-wrapper;
	@include border-box();
	padding: 0;
	padding-left: 1em;

	h3 {
		@include adjust-font-size-to($h3FontSize - 1px);
		line-height: 1em;
	}
}

.given-by {
	&:before {
		content: "- ";
	}

	display: block;
}

.customer-feedback {
	margin-top: 2em;

	.given-by {
		color: $testimonialGivenByColor;
	}

	span.separator {
		@include inline-block;
		letter-spacing: -3px;
		margin-right: 3px;
	}

	.highlight-testimonial {
		@include box-sizing(border-box);
		// TODO: add white shadow under
		border-top: 1px solid $pmMediumGray;
		border-bottom: 1px solid $pmMediumGray;
		padding-top: $highlightTestimonialPadding;
		padding-bottom: $highlightTestimonialPadding;
		// TODO: global font-size declaration
		@include adjust-font-size-to(22px);
		font-style: italic;
	}

	h3 {
		//@include adjust-font-size-to($sectionHeaderFontSize * 0.8);
	}

	.give-feedback-wrapper {
		position: relative;

		p {
			@include inline-block;
		}
	}
}

.customer-satisfaction-first {
	@include box-sizing(border-box);
	margin-top: 2em;
	background-color: #ebebeb;

	h3 {
		background-color: $pmWhite;
		padding: 1em;
		margin: 0;
	}

	ul {
		@include no-bullets();
		background-color: $pmGray;
		padding: 2em 2em 0em 2em;
		font-style: italic;
		margin: 0;
	}

	li {
	}

	span {
		color: $pmPink;
		@include margin-leader(1);
		@include margin-trailer(2);
	}
}

.your-opinion {
	margin-top: 70px;
}